/* Webkit (Safari/Chrome) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8046FD;
    border-radius: 4px; 
}

/* Firefox */

::-moz-scrollbar-thumb {
    background: #8046FD;
    border-radius: 4px; 
}

/* Edge */

::-ms-scrollbar-thumb {
    background: #8046FD;
    border-radius: 4px; 
}
